@model IEnumerable<Amazoom.Models.Item>

@{
    ViewData["Title"] = "Cart";
}
<h1>Your Current Cart:</h1>
<h2>All items here are reserved and guaranteed until ordered or removed from cart.</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="CartRemove" asp-route-id="@item.ID">Remove from Cart</a>
                </td>
                <td>
                    <a asp-action="Order" asp-route-id="@item.ID">Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index">Continue Shopping</a>
