@model IEnumerable<Amazoom.Models.Item>

@{
    ViewData["Title"] = "Cart";
}
<h1>Your Current Cart:</h1>
<h2>All items here are reserved and guaranteed until ordered or removed from cart.</h2>

@using System.Linq
@{  var Query = Model.GroupBy(
                         (item => item.Name),
                         (key, elements) => new
                         {
                             key = key,
                             count = elements.Distinct().Count(),
                             ids = elements.Select(e => e.ID).ToList()
                         }
                         ); ;}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            quantity
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Query)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
           
            <td>
                <a asp-action="CartRemove" asp-route-id="@item.ids.FirstOrDefault()">Remove from Cart</a>
            </td>
               
        </tr>
    }
    </tbody>
</table>
<div class="d-flex" style="gap: 5rem;">
    
    <form class="d-flex" asp-controller="Item" asp-action="Order" method="post">
        <button class="btn" style="background-color: #febd69;" type="submit" value="Filter">
        Order
        </button>
    </form>
    <a asp-controller="Home" asp-action="Index">Continue Shopping</a>
</div>